/acrpsite/acrp{% load acrp_extras %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title></title>
<style>
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
  <div class="jumbotron">
  <h4>Airport Cooperative Research Program (ACRP) University Design Competition for Addressing Airport Needs
Enable Editing</h4>

</div>
  <div class="container">
<div class="text-md-center">
<h5>Graduate Research Program on Public-Sector Aviation Issues</h5>
</div>
<hr>

An applicant has been ranked using the following scale:<br>
5-Outstanding<br>
4.5<br>
4-Very Good<br>
3.5<br>
3-Good<br>
2.5<br>
2-Poor<br>
1.5<br>
1-Not worthy of funding<br>
<hr>
<div class="text-md-center">
<h3>Completed Evaluations</h3>
</div>
<table style="width:100%"> 
<tr>

 {% for value,item in results.items %}
 {% for i,j in item.items %}
  <td><b><a href="compute_average_detail/{{ j.id }}/">{{ j.App_FirstName }} {{ j.App_LastName }}</</a></b></td>
  {% for m,n in j.items %}
  <td><b>{{ m }}</b> :{{ n }}</td>
   {% endfor %}
   {% endfor %}
</tr>
{% endfor %}
</tr>
</table>
<hr>
<!-- 
  {% for value,item in results.items %}
  {% for i,j in item.items %}
 <p> <b>{{ j.App_FirstName }} {{ j.App_LastName }}</b></p>
              {% for m,n in j.items %}
              [ {{ m }} :{{ n }} ]
              {% endfor %}

  {% endfor %}
  {% endfor %}<br> -->
</div>



