<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div style="text-align: center" class="jumbotron">
  <h4>Graduate Research Program on Public-Sector Aviation Issues<br>
  	Sponsored by: Federal Aviation Administration<br>
    Administered by: Airport Cooperative Research Program<br>
	Transportation Research Board, National Academies<br>
	Managed by: Virginia Space Grant Consortium</h4>
</div>
<div class="text-center">
<a href="/graward/EvaluateSubmissions">Evaluate Submissions</a><br>
{% if perm %}
  <p><a href="/graward/CompletedSubmissions">View Completed Evaluations</a></p><br>
{% else %}
  <p>(Note: You can only view other completed evaluations after all the submissions)</p>
{% endif %}
</div>
</div>
</body>
</html>