{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title></title>
</head>
<body>
   <div class="container">
   <div style="text-align: center" class="jumbotron">
  <h4>Graduate Research Program on Public-Sector Aviation Issues<br>
    Sponsored by: Federal Aviation Administration<br>
    Administered by: Airport Cooperative Research Program<br>
  Transportation Research Board, National Academies<br>
  Managed by: Virginia Space Grant Consortium</h4>
</div>
  <form method="post" enctype="multipart/form-data" action="">
  {% csrf_token %} 
  {% if form.stat == 'Evaluation Completed' %}
  <div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.cheque_no|as_crispy_field }}</i>
    </div>
   <h2>PART I – APPLICANT PERSONAL INFORMATION</h2>
  <h6 style="color: red">Note: Upon submission, a link to the Reference and Faculty Advisor Commitment forms will be emailed to the selected individuals and must be submitted by May 29, 2020 to complete your application.</h6>
  
  <div class="row">
    <div class="form-group col-sm-8">
      <i>{{ f.App_FirstName|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
      <i>{{ f.App_MiddleName|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
      <i>{{ f.App_LastName|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.dob|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.place_of_birth|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Citizenship|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Describe_type_and_status_if_visa_option_is_checked|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.visa_expiration|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
       <i>{{ f.Gender|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
       <i>{{ f.Ethnicity|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Mailing_Address|as_crispy_field }}</i>
     </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Mailing_City|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Mailing_State|as_crispy_field }}</i>
     </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Mailing_Zip_Code|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
       <i>{{ f.Current_phone|as_crispy_field }}</i>
       </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Permanent_Home_Address|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Permanent_City|as_crispy_field }}</i>
      </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Permanent_State|as_crispy_field }}</i>
       </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Permanent_Zip_Code|as_crispy_field }}</i>
      </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Permanent_Home_phone|as_crispy_field }}</i>
     </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Email|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.clg_or_univ_Enrolled|as_crispy_field }}</i>
     </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Major_Field|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Degree_objective|as_crispy_field }}</i>
      </div>
    <div class="form-group col-sm-8">
    <i>{{ f.Expected_Graduation|as_crispy_field }}</i>
    </div>
  </div>
<h6>
References: Two letters of reference are required; one of which should be a faculty member (not the faculty advisor for the proposed ACRP project) with direct knowledge of the applicant’s ability to conduct the proposed research. Note: The faculty research advisor is not allowed to be listed as one of the two references. Designate the two individuals you have asked to provide references along with contact information. The application system will directly request and secure references from the points of contact provided by the applicant. It is the applicant's responsibility to follow up with reference contacts to ensure that their references have been submitted.</h6><br>
<h6 style="color: red">
Note: Upon submission, a link to the Reference and Faculty Advisor Commitment forms will be emailed to the selected individuals and must be submitted by May 29, 2020 to complete your application.</h6><br>
<div class=".col-lg-4.ml-lg-auto">
<h4>Reference Contact 1</h4>
</div>
 <div class="row">
  <div class="col-4">
    <i>{{ f.Ref1_Name|as_crispy_field }}</i>
  </div>
  <div class="col-4">
    <i>{{ f.Ref1_Title|as_crispy_field }}</i>
  </div>
  <div class="col-4">
    <i>{{ f.Ref1_Dept|as_crispy_field }}</i>
   </div>
  <div class="col-4">
    <i>{{ f.Ref1_Inst|as_crispy_field }}</i>
   </div>
  <div class="col-4">
    <i>{{ f.Ref1_Phone|as_crispy_field }}</i>
    </div>
  <div class="col-4">
    <i>{{ faculty.Ref1_Email|as_crispy_field }}</i>
  </div>
</div>
<div class=".col-lg-4.ml-lg-auto">
<h4>Reference Contact 2</h4>
</div>
 <div class="row">
  <div class="col-4">
    <i>{{ f.Ref2_Name|as_crispy_field }}</i>
      </div>
  <div class="col-4">
    <i>{{ f.Ref2_Title|as_crispy_field }}</i>
  </div>
  <div class="col-4">
    <i>{{ f.Ref2_Dept|as_crispy_field }}</i>
  </div>
  <div class="col-4">
    <i>{{ f.Ref2_Inst|as_crispy_field }}</i>
    </div>
  <div class="col-4">
    <i>{{ f.Ref2_Phone|as_crispy_field }}</i>
         </div>
  <div class="col-4">
     <i>{{ faculty.Ref2_Email|as_crispy_field }}</i>
   </div>
</div>
  <p>PART II – APPLICANT QUALIFICATIONS</p>
  <table>
  <thead>
  <tr>
    <th><h6>College / University</h6></th>
    <th><h6>Major Field</h6></th>
    <th><h6>Location</h6></th>
    <th><h6>Dates Attended</h6></th>
    <th><h6>GPA</h6></th>
    <th><h6>Degree</h6></th>
    <th><h6>Date degree awarded/ expected</h6></th>
  </tr>
</thead>
<tbody>
  <tr valign="top">
{% for checkbox in f.clg_or_univ_1 %}
    <label class="col-md-1">
           <td width="96"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Major_1 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Location_1 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Dates_Attended_1 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.GPA_1 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Degree_1 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.degree_expected_1 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.clg_or_univ_2 %}
    <label class="col-md-1">
           <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Major_2 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Location_2 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Dates_Attended_2 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.GPA_2 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Degree_2 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.degree_expected_2 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.clg_or_univ_3 %}
    <label class="col-md-1">
           <td width="96"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Major_3 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Location_3 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Dates_Attended_3 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.GPA_3 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Degree_3 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.degree_expected_3 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.clg_or_univ_4 %}
    <label class="col-md-1">
           <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Major_4 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Location_4 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Dates_Attended_4 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.GPA_4 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Degree_4 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.degree_expected_4 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.clg_or_univ_5 %}
    <label class="col-md-1">
           <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Major_5 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Location_5 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Dates_Attended_5 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.GPA_5 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Degree_5 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.degree_expected_5 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.clg_or_univ_6 %}
    <label class="col-md-1">
           <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Major_6 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Location_6 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Dates_Attended_6 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.GPA_6 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Degree_6 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.degree_expected_6 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.clg_or_univ_7 %}
    <label class="col-md-1">
           <td width="96"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Major_7 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Location_7 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Dates_Attended_7 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.GPA_7 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Degree_7 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.degree_expected_7 %}
    <label class="col-md-1">
            <td width="96">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
</tbody>
</table><br>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Interruptions_of_schooling|as_crispy_field }}</i>
    </div>

<h6>
<b>Transcripts:</b> The applicant will need to provide scanned official copies of transcripts for each higher education institution attended. These will be uploaded as part of the required PDF document noted in PART VI of this application.</h6><br>
<h6>
<b>Professional Experience:</b> In reverse chronological order, list professional experience, including summer and term-time work.</h6>
<table>
  <thead>
  <tr valign="top">
    <td width="150"><h6>Name of Employer</h6></td>
    <td width="150"><h6>Location</h6></td>
    <td width="150"><h6>Dates</h6></td>
    <td width="150"><h6>Nature of Work</h6></td>
  </tr>
</thead>
<tbody>
  <tr valign="top">
{% for checkbox in f.Emp1_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp1_Location %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp1_Dates %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp1_Nature_of_work %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %} 
</tr>

<tr valign="top">
{% for checkbox in f.Emp2_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp2_Location %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp2_Dates %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp2_Nature_of_work %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %} 
</tr>

<tr valign="top">
{% for checkbox in f.Emp3_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp3_Location %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp3_Dates %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp3_Nature_of_work %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %} 
</tr>

<tr valign="top">
{% for checkbox in f.Emp4_Name %}
    <label class="col-md-1">
           <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp4_Location %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp4_Dates %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Emp4_Nature_of_work %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %} 
</tr>
</tbody>
</table>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Prof_exp_Notes|as_crispy_field }}</i>
    </div>
<h6>
Awards, honors, and publications: List fellowships, scholarships, and other academic and/or professional positions, held since entering college or university.</h6>
<table>
  <thead>
  <tr valign="top">
    <td width="150"><h6>Award, Honor, or Publication</h6></td>
    <td width="150"><h6>Dates</h6></td>
    <td width="150"><h6>Description</h6></td>
  </tr>
</thead>
<tbody>
  <tr valign="top">
{% for checkbox in f.Award1_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award1_Date %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award1_Description %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.Award2_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award2_Date %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award2_Description %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.Award3_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award3_Date %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award3_Description %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.Award4_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award4_Date %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award4_Description %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.Award5_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award5_Date %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award5_Description %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
<tr valign="top">
{% for checkbox in f.Award6_Name %}
    <label class="col-md-1">
           <td width="150"> {{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award6_Date %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
{% for checkbox in f.Award6_Description %}
    <label class="col-md-1">
            <td width="150">{{ checkbox.tag }}</td>
    </label>
{% endfor %}
</tr>
</tbody>
</table>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Prof_exp_Notes }}</i>
    </div>
<h6>
Awards, honors, and publications: List fellowships, scholarships, and other academic and/or professional positions, held since entering college or university.</h6>
<table>
  <thead>
  <div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Awards_Notes|as_crispy_field }}</i>
    </div>
    <div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Carrer_goals|as_crispy_field }}</i>
    </div>
<h6>
Writing Sample: Provide a writing sample such as a previous publication, a paper written for a class assignment, a research project report or similar example of professional writing. This will be provided as part of the PDF document you will be uploading in Part VI of this application.</h6><br>
<h3>PART III – RESEARCH PROJECT PROPOSAL</h3>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Title_of_reserach_project|as_crispy_field }}</i>
    </div>
<h6>
<b>Research Project:</b> In 500 words or less, describe the proposed research project, including project objectives, research methods, and expected outcomes. Also indicate how this research work could benefit the aviation community and contribute to your career goals. Applicants are encouraged to use the resources available at the Graduate Research Award Program website to learn about research areas of interest to the Transportation Research Board, past research initiatives and to view research papers previously submitted through the ACRP’s Graduate Research Awards program. A quality research proposal is a key factor in award selection.<br>
<b>Your Research Project Proposal will be submitted as part of the PDF document you will be uploading in Part VI of this application.</b></h6><br>
<p style="color: red">Note: Citations are not included in the word count for the project description.</p><br>
<h3>PART IV – FACULTY RESEARCH ADVISOR</h3><br>
<h6>
To enrich the educational experience gained from your proposed research project, it is necessary for you to request a faculty member from your university who is familiar with your research project to act as a research advisor to you during the course of the project. Once the research advisor agrees, provide his/her contact information below. The application system will directly request and secure a formal commitment from the faculty advisor using the contact information provided by the applicant. It is the applicant's responsibility to follow up with the faculty research advisor to ensure that the commitment document has been submitted.</h6>
<p style="color: red">
Note: Upon submission, a link to the Reference and Faculty Advisor Commitment forms will be emailed to the selected individuals and must be submitted by May 29, 2020 to complete your application.</p><br>
<h5>Research Faculty Advisor Contact Information:</h5>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Ref3_Name|as_crispy_field }}</i>
    </div>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Ref3_Title|as_crispy_field }}</i>
    </div>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Ref3_Inst|as_crispy_field }}</i>
    </div>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ f.Ref3_Phone|as_crispy_field }}</i>
    </div>
<div class="form-group col-sm-8">
      <!-- <b>{{ form.title.label_tag.label_tag }}</b> -->
      <i>{{ faculty.Ref3_Email|as_crispy_field }}</i>
    </div>

<h4>PART V – COVER PAGE WITH CERTIFICATIONS</h4><br>
<p>
Download the Cover Page with Certifications form. Complete the applicant portion of the form and sign and date this section. Have your university Sponsored Programs Office complete the bottom portion of the form and sign and date it. The signed Cover Page with Certification will be submitted as part of the PDF document you will submit in Part VI of the application. Submit the signed original with the hard copy of your application. The hard copy of the application must be received no later than May 22, 2020.</p>

<h4>PART VI – SUBMISSION OF REQUIRED APPLICATION DOCUMENTS</h4>
<p>
Create one PDF document which should be saved as Last Name.First Name.GRA2020 (example: Smith.John.GRA2020). Please do not use spaces in your file name. These documents should be provided as one PDF document with items in the order below:<br>
1. Cover Page with Certifications<br>
2. Research Proposal<br>
3. Writing Sample<br>
4. Transcripts<br>
Please try to limit your file size to be no larger than 2 MB.</p>
<div id="upload-div">
  {{ f.Upload }}
</div> 


{% if rec == 'Not Submitted' %}
  <p> Reference Contact 1 Recommendation - Not Submitted</p><br>
  <p> Reference Contact 2 Recommendation - Not Submitted</p><br>
{% else %}
  {% for i in final %}
    {% if i in refRec %}
      <a href="https://vsgcapps.odu.edu/graward/recom/{{ f.cheque_no.value }}/{{ i }}"> Reference Contact {{ i }} Recommendation</a><br>
    {% else %}
      <p> Reference Contact {{ i }} Recommendation - Not Submitted</p><br>
    {% endif %}
  {% endfor %}
 {% endif %}

 {% if rec1 == 'Not Submitted' %}
  <p> Reference Contact 1 Recommendation - Not Submitted</p><br>
  <p> Reference Contact 2 Recommendation - Not Submitted</p><br>
{% else %}
  {% for i in final1 %}
    {% if i in refRec1 %}
      <a href="https://vsgcapps.odu.edu/graward/advisorrecommendation/{{ f.cheque_no.value }}/{{ i }}"> Reference Contact {{ i }} Recommendation</a><br>
    {% else %}
      <p> Reference Contact {{ i }} Recommendation - Not Submitted</p><br>
    {% endif %}
  {% endfor %}
 {% endif %}
 
<h6>
Use the save feature when subsequent data entry is required prior to submission. Use your nine-character ID as a pass code to access your application.</h6>
<p style="color: red">Notes:
You will not be able to make changes to the document once it has been submitted; however, you will be able to access the application for printing.
Please double check that you have selected the final submission box when you are ready to submit your application.
Application submission confirmation - once you hit continue, a bold red message will appear for you to print for your records. THIS WILL BE THE ONLY CONFIRMATION YOU WILL RECEIVE. NO E-MAIL WILL BE SENT.
Electronic application submissions are due by May 15, 2020.</p> 
<div class="row">
 <div class="form-group col-md-6 mb-0 ">
  <i>{{ f.stat.2 }}</i>
  </div>
  <div class="form-group col-md-6 mb-0 ">
  <i>{{ f.stat.3 }}</i>
  </div>
</div>


<input type="submit" value=Submit>
  <script>
    function hideField() {
      check = document.getElementsById("visa")[0].value;  
      response = document.getElementById("put your id here");
      if (check === "Open") {
         response.style.display = "none";
        }else{
          response.style.display = "block";
        }
      }
    var uploadDiv = document.getElementById("upload-div");
    uploadDiv.children[0].innerHTML = "/"+uploadDiv.children[0].innerHTML;
    uploadDiv.children[0].href = uploadDiv.children[0].innerHTML;
    console.log("Upload Div: ",uploadDiv.children[0].href);
  </script>

</form>
{% endif %}
</div>
</body>
</html>
