{% load polls_extras %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title></title>
<style>
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>

  <div class="jumbotron">
  <h4 style="text-align: center">Graduate Research Program on Public-Sector Aviation Issues</h4>

</div>
  <div class="container">
<div class="text-md-center">
<h5>Processed Submissions</h5>
</div>
<br>

<table style="width:100%">
    <tr>
  <th>First Name</th>
  <th>Degree objective</th>
  <th>Major Field</th>
  <th>College/University Enrolled</th>
  <th>Status</th>

</tr>
<tr>
  {% for value in saved %}
    <td><a href="/graward/support/processed_detail/{{value.id}}/">{{ value.App_FirstName }}</a></td>
    <td>{{ value.Degree_objective }}</td>
    <td>{{ value.Major_Field }}</td>
    <td>{{ value.clg_or_univ_Enrolled }}</td>
    <td>{{ value.stat }}</td>
</tr>
{% endfor %}
</table>
<br>

</div>
</body>
</html>
