<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
  	#text-container
{
width: 400px;
Display: block;
Float: left;
}
  </style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
  <h4>Airport Cooperative Research Program (ACRP) University Design Competition for Addressing Airport Needs VSGC Support Members Page</h4>
</div>
<div style="text-align: center;">
<div style="display: inline-block; text-align: left;">
<ul>
<li><a href="/Applicant/">View Notice of Intent Submissions</a><br></li>
<li><a href="/process/">Process Competition Submissions</a><br></li>
<li><a href="/processed/">View processed Submissions</a><br></li>
<li><a href="/sorted/">View Evaluations Sorted by ID</a><br></li>
<li><a href="/avgscore/">View Evaluations Sorted by Average Score</a><br></li>
<li><a href="/avgscore_designarea/">View Evaluations Avg. Score Sorted by Design Challenge</a><br></li>
<li><a href="/sorted_area/">View Evaluations Sorted by Design Challenge</a><br></li>
<li><a href="/reedit/">Enable Re-Editing</a>
</ul>
</div>
</div>
</div>
</body>
</html>