{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->
<style>
 .asteriskField {
    display: none;
}
</style>
</head>
<body>
  <div class="container">
  <div class="jumbotron">
    <h3>Airport Cooperative Research Program (ACRP) University Design Competition for Addressing Airport Needs
2018-2019 Academic Year
Panelist Evaluation Form</h3>
</div>

<form method="post" enctype="multipart/form-data">

  {% csrf_token %}
  <div class="form-row">
  <div class="form-group col-sm-8">
    <label for="title">Title of Design:</label>
    <input type="text" class="form-control" id="title" value="{{ designapp.title }}"readonly>
  </div>
  <div class="form-group col-sm-8">
    <label for="FirstName">First Name:</label>
    <input type="text" class="form-control" id="FirstName" value="{{ designapp.Advisor1_FirstName }}" readonly>
  </div>
  <div class="form-group col-sm-8">
    <label for="LastName">Last Name:</label>
    <input type="text" class="form-control" id="LastName" value="{{ designapp.Advisor1_LastName }}" readonly>
  </div>
  <div class="form-group col-sm-8">
    <label for="Inst">Institution(s):</label>
    <input type="text" class="form-control" id="Inst" value="{{ designapp.Inst }}" readonly>
  </div>
  <div class="form-group col-sm-8">
    <label for="design_area">Design Challenge Area:</label>
    <input type="text" class="form-control" id="design_area" value="{{ designapp.design_area }}" readonly>
  </div>
  <div class="form-group col-sm-8">
    <label for="Specific_Challenge">Specific Challenge Selected:</label>
    <input type="text" class="form-control" id="Specific_Challenge" value="{{ designapp.Specific_Challenge }}" readonly>
  </div>
     <div class="form-group col-sm-8">
    <b><label for="Upload">Components of the Design Package in PDF Format.</label></b>
 
    <a href="/{{ designapp.Upload }}">Full Design </a>

    </div>
  </div>


    <h4>Evaluation</h4>
    <h5>The Competition Evaluators will use the following in judging submissions. The total number of available points is 130. Evaluators may choose to provide a score in half-point increments.</h5>

<!-- QUESTION-1 -->
<div class="row">
  <div class="form-group col-sm-8">
    <label value="{{ quest1.Q_title }}"><b>{{ quest1.Q_title }}</b></label>
  </div>
</div>
    <div class="form-row">
 <div class="form-group col-md-6">
    <label value="{{ quest1.Q_questions }}">{{ quest1.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R1" id="t1_q1_input" >
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option>    
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C1" id="t1_q1_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label value="{{ quest2.Q_questions }}">{{ quest2.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R2" id="t1_q2_input" >
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>    
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C2" id="t1_q2_comments" cols="70" rows="3"></textarea>
</div>
 <div class="row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Subtotal</label>
<input type="text" name="R3" id="t1_overall" value='0' onchange="add_number()" readonly>
</div>
</div>
<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C3" id="t1_overall_comments" cols="70" rows="3"></textarea>
</div>

<!-- QUESTION-2 -->
<div class="row">
<div class="form-group col-sm-8">
    <label for="title" value="{{ quest2_1.Q_title }}"><b>{{ quest4.Q_title }}</b></label>
  </div>
</div>
    <div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest2_1.Q_questions }}">{{ quest4.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R4" id="t2_q1_input">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>   
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C4" id="t2_q1_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest2_2.Q_questions }}">{{ quest5.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R5" id="t2_q2_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>
      <option>4.5</option> 
      <option>5</option> 
      <option>5.5</option>
      <option>6</option>
      <option>6.5</option>
      <option>7</option>            
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C5" id="t2_q2_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
 <div class="form-group col-md-6"></div>
   <div class="form-group col-sm-6">
    <label>Subtotal</label>
<input type="text" name="R6" id="t2_overall" value='0' onchange="add_number()" readonly>
</div>
</div>

<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C6" id="t2_overall_comments" cols="70" rows="3"></textarea>
</div>
<!-- QUESTION-3 -->
<div class="row">
<div class="form-group col-sm-8">
    <label for="title" value="{{ quest3_1.Q_title }}"><b>{{ quest7.Q_title }}</b></label>
  </div>
</div>
    <div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest3_1.Q_questions }}">{{ quest7.Q_questions }}</label></div>
<div class="form-group col-md-6">
    <select name="R7" id="t3_q1_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>
      <option>4.5</option> 
      <option>5</option> 
      <option>5.5</option>
      <option>6</option>
      <option>6.5</option>
      <option>7</option>   
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C7" id="t3_q1_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest3_2.Q_questions }}">{{ quest8.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R8" id="t3_q2_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>                       
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C8" id="t3_q2_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Subtotal</label>
<input type="text" name="R9" id="t3_overall" value='0' onchange="add_number()" readonly>
</div>
</div>

<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C9" id="t3_overall_comments" cols="70" rows="3"></textarea>
</div>


<!-- QUESTION-4 -->
<div class="row">
<div class="form-group col-sm-8">
    <label for="title" value="{{ quest4_1.Q_title }}"><b>{{ quest10.Q_title }}</b></label>
  </div>
</div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest4_1.Q_questions }}">{{ quest10.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R10" id="t4_q1_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>
      <option>4.5</option> 
      <option>5</option> 
      <option>5.5</option>
      <option>6</option>
      <option>6.5</option>
      <option>7</option> 
      <option>7.5</option> 
      <option>8</option>
      <option>8.5</option>
      <option>9</option>
      <option>9.5</option>
      <option>10</option>                        
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C10" id="t4_q1_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest4_2.Q_questions }}">{{ quest11.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R11" id="t4_q2_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>
      <option>4.5</option> 
      <option>5</option>   
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C11" id="t4_q2_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest4_3.Q_questions }}">{{ quest12.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R12" id="t4_q3_input"onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>   
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C12" id="t4_q3_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest4_4.Q_questions }}"> {{ quest13.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R13" id="t4_q4_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>   
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C13" id="t4_q4_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest4_5.Q_questions }}">{{ quest14.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R14" id="t4_q5_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>
      <option>4.5</option>
      <option>5</option>    
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C14" id="t4_q5_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest4_6.Q_questions }}">{{ quest15.Q_questions }} </label>
</div>
<div class="form-group col-md-6">
    <select name="R15" id="t4_q6_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>
      <option>4.5</option>
      <option>5</option>    
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C15" id="t4_q6_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Subtotal</label>
<input type="text" name="R16" id="t4_overall" value='0' onchange="add_number()" readonly>
</div>
</div>

<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C16" id="t4_overall_comments" cols="70" rows="3"></textarea>
</div>
<!-- QUESTION-5 -->
<div class="row">
 <div class="form-group col-sm-8">
    <label for="title" value="{{ quest5_1.Q_title }}"><b>{{ quest17.Q_title }}</b></label>
  </div>
</div>
    <div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest5_1.Q_questions }}">{{ quest17.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R17" id="t5_q1_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option>
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>   
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C17" id="t5_q1_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest5_2.Q_questions }}">{{ quest18.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R18" id="t5_q2_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option> 
      <option>3.5</option>
      <option>4</option>    
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C18" id="t5_q2_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Subtotal</label>
<input type="text" name="R19" id="t5_overall" value='0' onchange="add_number()" readonly>
</div>
</div>

<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C19" id="t5_overall_comments" cols="70" rows="3"></textarea>
</div>
<!-- QUESTION-6 -->
<div class="row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest6_1.Q_title }}"><b>{{ quest20.Q_title }}</b></label>
    <p><b>Note: per the guidelines, students must connect with both airport operators and industry experts.</b></p>
  </div>
</div>
    <div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest6_1.Q_questions }}">{{ quest20.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R20" id="t6_q1_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option>
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>
      <option>5.5</option>
      <option>6</option>  
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C20" id="t6_q1_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest6_2.Q_questions }}">{{ quest21.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R21" id="t6_q2_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option> 
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>
      <option>5.5</option>
      <option>6</option>       
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C21" id="t6_q2_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Subtotal</label>
<input type="text" name="R22" id="t6_overall" value='0' onchange="add_number()" readonly>
</div>
</div>
<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C22" id="t6_overall_comments" cols="70" rows="3"></textarea>
</div>

<!-- QUESTION-7 -->
<div class="row">
 <div class="form-group col-sm-8">
    <label for="title" value="{{ quest7_1.Q_title }}"><b>{{ quest23.Q_title }}</b></label>
  </div>
</div>
    <div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest7_1.Q_questions }}">{{ quest23.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R23" id="t7_q1_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option>
      <option>2.5<option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>  
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C23" id="t7_q1_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest7_2.Q_questions }}">{{ quest24.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R24" id="t7_q2_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option> 
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>       
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C24" id="t7_q2_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest7_3.Q_questions }}">{{ quest25.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R25" id="t7_q3_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option> 
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>       
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C25" id="t7_q3_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest7_4.Q_questions }}">{{ quest26.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R26" id="t7_q4_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option> 
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>       
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C26" id="t7_q4_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Subtotal</label>
<input type="text" name="R27" id="t7_overall" value='0'  onchange="add_number()" readonly>
</div>
</div>
<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C27" id="t7_overall_comments" cols="70" rows="3"></textarea>
</div>
<!-- QUESTION-8 -->
<div class="row">
<div class="form-group col-sm-8">
    <label for="title" value="{{ quest8_1.Q_title }}"><b>{{ quest28.Q_title }}</b></label>
  </div>
</div>
    <div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest8_1.Q_questions }}">{{ quest28.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R28" id="t8_q1_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option>
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>
      <option>5.5</option>
      <option>6</option> 
      <option>6.5</option>
      <option>7</option> 
      <option>7.5</option> 
      <option>8</option>
      <option>8.5</option>
      <option>9</option>
      <option>9.5</option>
      <option>10</option> 
      <option>10.5</option> 
      <option>11</option> 
      <option>11.5</option>
      <option>12</option>
      <option>12.5</option>
      <option>13</option>
      <option>13.5</option>
      <option>14</option>
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C28" id="t8_q1_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Subtotal</label>
<input type="text" name="R29" id="t8_overall" value='0' onchange="add_number()" readonly>
</div>
</div>

<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C29" id="t8_overall_comments" cols="70" rows="3"></textarea>
</div>
<!-- QUESTION-9 -->
<div class="row">
<div class="form-group col-sm-8">
    <label for="title" value="{{ quest9_1.Q_title }}"><b>{{ quest30.Q_title }}</b></label>
  </div>
</div>

    <div class="form-row">
 <div class="form-group col-md-6">
    <label for="title" value="{{ quest9_1.Q_questions }}">{{ quest30.Q_questions }}</label>
</div>
<div class="form-group col-md-6">
    <select name="R30" id="t9_q1_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option>
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option> 
      <option>4.5</option> 
      <option>5</option>  
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C30" id="t9_q1_comments" cols="70" rows="3"></textarea>
</div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest9_2.Q_questions }}">{{ quest31.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R31" id="t9_q2_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>       
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C31" id="t9_q2_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest9_3.Q_questions }}">{{ quest32.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R32" id="t9_q3_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>
      <option>3.5</option>
      <option>4</option>       
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C32" id="t9_q3_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="title" value="{{ quest9_4.Q_questions }}">{{ quest33.Q_questions }}</label>
  </div>
  <div class="form-group col-md-6">
    <select name="R33" id="t9_q4_input" onchange="updateTotal();">
      <option>0</option>
      <option>0.5</option>
      <option>1</option>
      <option>1.5</option>
      <option>2</option> 
      <option>2.5</option>
      <option>3</option>  
      <option>3.5</option>
      <option>4</option>     
    </select>
  </div>
</div>
<div class="form-group">
  <p>Comments:</p>
<textarea name="C33" id="t9_q4_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Subtotal</label>
<input type="text" name="R34" value='0' id="t9_overall" readonly>
</div>
</div>

<div class="form-group">
  <p>Overall Comments:</p>
<textarea name="C34" id="t9_overall_comments" cols="70" rows="3"></textarea>
</div>
<div class="form-row">
  <div class="form-group col-md-6"></div>
   <div class="form-group col-md-6">
    <label>Overall</label>
<input type="text" name="R35" id="total_overall" readonly>
</div>
</div>

<p>Use the save feature when subsequent data entry is required prior to submission.</p>
<p style="color:red;"><em>Note: You will not be able to make changes in the document once it has been submitted.</em></p>
<div class="row">
 <div class="form-group col-md-6 mb-0 ">
  <i>{{ f.stat.2 }}</i>
  </div>
  <div class="form-group col-md-6 mb-0 ">
  <i>{{ f.stat.3 }}</i>
  </div>
</div><br>
<button type="submit" formnovalidate class="btn btn-primary btn-lg">Submit</button>
</div>


</form>
</div>
</body>
<script>
var q11 = document.getElementById("t1_q1_input");
var q12 = document.getElementById("t1_q2_input");
var total_overall = document.getElementById("total_overall");
console.log(q11);
console.log(q12);
var total_q1 = document.getElementById("t1_overall");
q11.onchange = function() {
  var total = parseFloat(q11.value) + parseFloat(q12.value);
  total_q1.value = total;
  overall();
  console.log(total);
}
q12.onchange = function() {
  var total = parseFloat(q11.value) + parseFloat(q12.value);
  total_q1.value = total;
  overall();
  console.log(total);

}
var q21 = document.getElementById("t2_q1_input");
var q22 = document.getElementById("t2_q2_input");
var total_overall = document.getElementById("total_overall");
console.log(q21);
console.log(q22);
var total_q2 = document.getElementById("t2_overall");
q21.onchange = function() {
  var total = parseFloat(q21.value) + parseFloat(q22.value);
  total_q2.value = total;
  overall();
  console.log(total);
}
q22.onchange = function() {
  var total = parseFloat(q21.value) + parseFloat(q22.value);
  total_q2.value = total;
  overall();
  console.log(total);
}

var q31 = document.getElementById("t3_q1_input");
var q32 = document.getElementById("t3_q2_input");
var total_overall = document.getElementById("total_overall");
var total_q3 = document.getElementById("t3_overall");
q31.onchange = function() {
  var total = parseFloat(q31.value) + parseFloat(q32.value);
  total_q3.value = total;
  overall();
  console.log(total);
}
q32.onchange = function() {
  var total = parseFloat(q31.value) + parseFloat(q32.value);
  total_q3.value = total;
  overall();
  console.log(total);
}




var q41 = document.getElementById("t4_q1_input");
var q42 = document.getElementById("t4_q2_input");
var q43 = document.getElementById("t4_q3_input");
var q44 = document.getElementById("t4_q4_input");
var q45 = document.getElementById("t4_q5_input");
var q46 = document.getElementById("t4_q6_input");
var total_q4 = document.getElementById("t4_overall");
var total_overall = document.getElementById("total_overall");
q41.onchange = function() {
  var total = parseFloat(q41.value) + parseFloat(q42.value)+ parseFloat(q43.value)+ parseFloat(q44.value)+ parseFloat(q45.value)+ parseFloat(q46.value);
  total_q4.value = total;
  overall();
  console.log(total);
}
q42.onchange = function() {
  var total = parseFloat(q41.value) + parseFloat(q42.value)+ parseFloat(q43.value)+ parseFloat(q44.value)+ parseFloat(q45.value)+ parseFloat(q46.value);
  total_q4.value = total;
  overall();
  console.log(total);
}
q43.onchange = function() {
  var total = parseFloat(q41.value) + parseFloat(q42.value)+ parseFloat(q43.value)+ parseFloat(q44.value)+ parseFloat(q45.value)+ parseFloat(q46.value);
  total_q4.value = total;
  overall();
  console.log(total);
}
q44.onchange = function() {
  var total = parseFloat(q41.value) + parseFloat(q42.value)+ parseFloat(q43.value)+ parseFloat(q44.value)+ parseFloat(q45.value)+ parseFloat(q46.value);
  total_q4.value = total;
  overall();
  console.log(total);
}
q45.onchange = function() {
  var total = parseFloat(q41.value) + parseFloat(q42.value)+ parseFloat(q43.value)+ parseFloat(q44.value)+ parseFloat(q45.value)+ parseFloat(q46.value);
  total_q4.value = total;
  overall();
  console.log(total);
}
q46.onchange = function() {
  var total = parseFloat(q41.value) + parseFloat(q42.value)+ parseFloat(q43.value)+ parseFloat(q44.value)+ parseFloat(q45.value)+ parseFloat(q46.value);
  total_q4.value = total;
  overall();
  console.log(total);
}

var q51 = document.getElementById("t5_q1_input");
var q52 = document.getElementById("t5_q2_input");
var total_overall = document.getElementById("total_overall");
console.log(q51);
console.log(q52);
var total_q5 = document.getElementById("t5_overall");
q51.onchange = function() {
  var total = parseFloat(q51.value) + parseFloat(q52.value);
  total_q5.value = total;
  overall();
  console.log(total);
}
q52.onchange = function() {
  var total = parseFloat(q51.value) + parseFloat(q52.value);
  total_q5.value = total;
  console.log(total);
  overall(); 
}

var q61 = document.getElementById("t6_q1_input");
var q62 = document.getElementById("t6_q2_input");
var total_overall = document.getElementById("total_overall");
console.log(q61);
console.log(q62);
var total_q6 = document.getElementById("t6_overall");
q61.onchange = function() {
  var total = parseFloat(q61.value) + parseFloat(q62.value);
  total_q6.value = total;
  overall();
  console.log(total);
}
q62.onchange = function() {
  var total = parseFloat(q61.value) + parseFloat(q62.value);
  total_q6.value = total;
  console.log(total);
  overall();
  
}
var q71 = document.getElementById("t7_q1_input");
var q72 = document.getElementById("t7_q2_input");
var q73 = document.getElementById("t7_q3_input");
var q74 = document.getElementById("t7_q4_input");
var total_q7 = document.getElementById("t7_overall");
var total_overall = document.getElementById("total_overall");
q71.onchange = function() {
  var total = parseFloat(q71.value) + parseFloat(q72.value)+ parseFloat(q73.value)+ parseFloat(q74.value);
  total_q7.value = total;
  console.log(total);
}
q72.onchange = function() {
  var total = parseFloat(q71.value) + parseFloat(q72.value)+ parseFloat(q73.value)+ parseFloat(q74.value);
  total_q7.value = total;
  console.log(total);
}
q73.onchange = function() {
  var total = parseFloat(q71.value) + parseFloat(q72.value)+ parseFloat(q73.value)+ parseFloat(q74.value);
  total_q7.value = total;
  console.log(total);
}
q74.onchange = function() {
  var total = parseFloat(q71.value) + parseFloat(q72.value)+ parseFloat(q73.value)+ parseFloat(q74.value);
  total_q7.value = total;
  console.log(total);
}

var q81 = document.getElementById("t8_q1_input");
var total_q8 = document.getElementById("t8_overall");
var total_overall = document.getElementById("total_overall");
q81.onchange = function() {
  var total = parseFloat(q81.value);
  total_q8.value = total;
  console.log(total);
  overall();
}
var q91 = document.getElementById("t9_q1_input");
var q92 = document.getElementById("t9_q2_input");
var q93 = document.getElementById("t9_q3_input");
var q94 = document.getElementById("t9_q4_input");
var total_q9 = document.getElementById("t9_overall");
var total_overall = document.getElementById("total_overall");
q91.onchange = function() {
  var total = parseFloat(q91.value) + parseFloat(q92.value)+ parseFloat(q93.value)+ parseFloat(q94.value);
  total_q9.value = total;
  overall();
  console.log(total);
}
q92.onchange = function() {
  var total = parseFloat(q91.value) + parseFloat(q92.value)+ parseFloat(q93.value)+ parseFloat(q94.value);
  total_q9.value = total;
  overall();
  console.log(total);
}
q93.onchange = function() {
  var total = parseFloat(q91.value) + parseFloat(q92.value)+ parseFloat(q93.value)+ parseFloat(q94.value);
  total_q9.value = total;
  overall();
  console.log(total);
}
q94.onchange = function() {
  var total = parseFloat(q91.value) + parseFloat(q92.value)+ parseFloat(q93.value)+ parseFloat(q94.value);
  total_q9.value = total;
  overall();
  console.log(total);
}

function overall() {
  var q11 = document.getElementById("t1_q1_input");
  var q12 = document.getElementById("t1_q2_input");
  var q21 = document.getElementById("t2_q1_input");
  var q22 = document.getElementById("t2_q2_input");
  var q31 = document.getElementById("t3_q1_input");
  var q32 = document.getElementById("t3_q2_input");
  var q41 = document.getElementById("t4_q1_input");
  var q42 = document.getElementById("t4_q2_input");
  var q43 = document.getElementById("t4_q3_input");
  var q44 = document.getElementById("t4_q4_input");
  var q45 = document.getElementById("t4_q5_input");
  var q46 = document.getElementById("t4_q6_input");
  var q51 = document.getElementById("t5_q1_input");
  var q52 = document.getElementById("t5_q2_input");
  var q61 = document.getElementById("t6_q1_input");
  var q62 = document.getElementById("t6_q2_input");
  var q71 = document.getElementById("t7_q1_input");
  var q72 = document.getElementById("t7_q2_input");
  var q73 = document.getElementById("t7_q3_input");
  var q74 = document.getElementById("t7_q4_input");
  var q81 = document.getElementById("t8_q1_input");
  var q91 = document.getElementById("t9_q1_input");
  var q92 = document.getElementById("t9_q2_input");
  var q93 = document.getElementById("t9_q3_input");
  var q94 = document.getElementById("t9_q4_input");
  var total_overall = document.getElementById("total_overall");
  var number = parseFloat(q11.value) + parseFloat(q12.value) + parseFloat(q21.value) + parseFloat(q22.value) + parseFloat(q31.value) + parseFloat(q32.value)+
               parseFloat(q41.value) + parseFloat(q42.value)+ parseFloat(q43.value)+ parseFloat(q44.value)+ parseFloat(q45.value)+ parseFloat(q46.value)+parseFloat(q51.value) + parseFloat(q52.value)+ parseFloat(q61.value) + parseFloat(q62.value) +parseFloat(q71.value) + parseFloat(q72.value)+ parseFloat(q73.value)+ parseFloat(q74.value)+parseFloat(q81.value)+parseFloat(q91.value) + parseFloat(q92.value)+ parseFloat(q93.value)+ parseFloat(q94.value);

  total_overall.value = number;
  console.log(number);


}

</script>
</html>
