{% load acrp_extras %}
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title></title>
<style>

table{
    table-layout: fixed;
    width: 1200px;
}

th {
  text-align: left;
}
</style>
</head>
<body>
  <div class="container">
  <div class="jumbotron">
  <h4>Airport Cooperative Research Program (ACRP) University Design Competition for Addressing Airport Needs</h4>

</div>
<div class="text-md-center">
<h5>Design Submissions for Approval</h5>
</div>
<br>
{% for dAppType, dAppValue in dApps.items %}
<table>
  <tr>
  <th>Last Name</th>
  <th>Institution</th>
  <th>Status</th>
</tr>

  <h3>{{ dType|get_item:dAppType }}</h3>
  {% for designApp, userProfile in dAppValue %}
  <tr>
    {% if userProfile.stat == 'Pending' %}
    {% byte2str designApp.ekey as eKey %}
      <td><a href="/evaluator_detail/{{ eKey }}/">{{ designApp.Advisor1_LastName }}</a></td>
      <td>{{ designApp.Inst }}</td>
      <td>{{ userProfile.stat }}</td>
    {% else %}
    {% byte2str designApp.ekey as eKey %}

      <td><a href="/saved/{{ eKey }}/">{{ designApp.Advisor1_LastName }}</a></td>
      <td>{{ designApp.Inst }}</td>
      <td>{{ userProfile.stat }}</td>
    {% endif %}
    </tr>
  {% endfor %}
</table>
<br>
{% endfor %}
</div>
</body>
</html>

